@import "reset";

// Variables
$orange: #ff8d0c;

$mainfonts: "Helvetica Neue", "Helvetica", "-apple-system",
"BlinkMacSystemFont", "Segoe UI", "Roboto", "Arial", sans-serif;
$headerfonts: "Futura", $mainfonts;
$codefonts: "DejaVu Sans Mono", "DejaVu Sans Mono for Powerline", "Courier New", "Courier", monospace;

.clear {
  clear: both;
  width: 100%;
}

* {
  line-height: 1.5;
  box-sizing: border-box;
}

html,
body {
  background-color: #eae2b7;
  font-size: 16pt;
  font-family: $mainfonts;
  line-height: 1.75;

  height: 100%;
  margin: 0;
  padding: 0;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, p, sup, ul, ol {
  /* Catch-all vertical margins for block elements */
  margin: 1rem 0;
}

#container {
  min-height: 100%;
  position: relative;
}

header, main, footer {
  // Center layout thingy
  // https://cloudfour.com/thinks/breaking-out-with-css-grid-layout/
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 40em) [main-end]
    minmax(1em, 1fr) [full-end];

  * {
    grid-column: main;
  }
}

.fullwidth {
  grid-column: full;
}


header {
  background-color: $orange;
  color: white;
  padding-bottom: 1rem;
}

.headline h1, .headline img {
  /* TODO: don't float, use grid or flex */
  float: left;
  margin: 1rem 0.5rem 0 0;
}

main {
  background-color: #eae2b7;
  padding-bottom: 4rem; /* 2rem + Height of the footer */
  color: black;
  box-sizing: border-box;
  align-items: left;
}

#card {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: $orange;
  color: white;
  width: 11rem;
  box-sizing:border-box;
  margin-top: 1.25rem;
  padding: 1rem;
  p {
    margin: 0;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem; /* Height of the footer */
  background: $orange;
  color: white;
  p {
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerfonts;
}

header h1 {
  color: #fff;
  font-size: 3rem;
  border: none;
  font-weight: normal;
}

#navigation a {
  color: white;
  font-size: 1.25rem;
  margin: 0 1rem 0 0;
}

h1 {
  font-size: 2.5rem;
  border-bottom: 1rem solid $orange;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  border-bottom: 0.25rem solid $orange;
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid #111;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul, ol {
  margin-left: 1rem;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

li::marker {
  color: $orange;
}

th {
  font-weight: bold;
}

th, td {
  padding-right: 1rem;
}

.post_list {
  margin: 0;
  font-size: 1.25rem;
}

.post_item {
  list-style-type: none;
  margin: 1rem 0;
  display: flex;
}

.post_link {
  text-decoration: none;
  border: none;
  margin-right: 0.5rem;
  font-weight: bold;
}

.date {
  text-align: right;
}

.footnote-reference {
  vertical-align: super;
  font-size: 0.75rem;
  margin: 0 0.25rem 0 0;
}

.footnote-definition {
  color: #888;
}

.footnote-definition-label {
  float: left;
  margin: 1rem 1rem 0 0;
}

hr {
  border-bottom: 0.25rem solid $orange;
  width: 100%;
}

blockquote {
  border-left: 0.5rem solid $orange;
  padding: 1rem 0 1rem 1rem;
  font-size: 1.5rem;
  margin: 1rem 0;
  p {
    margin: 0;
  }
}

/* ### CODE STUFF ### */

code,
pre {
  background: #272822;
  color: #fff;
  font-family: $codefonts;
}

code {
  padding: 0.25rem;
  // Don't wrap inline code; these are usually command names etc
  white-space: nowrap;
  border-radius: 0.25rem;
}

pre {
  overflow-x: scroll;
  padding: 1em;
}

pre code {
  /* Undo paragraph inset padding */
  padding: 0;
  // Undo nowrap for code; fixes styles for some pandoc versions
  white-space: inherit;
}
