<!DOCTYPE html>
<html lang="en">
{% block head %} {%include "head.html" %} {% endblock head %}

<body>
  <div id="container">
    {%block header %}{%include "header.html" %}{% endblock header %}
    <main role="main">
      <div class="middle">

        <h1>{{ section.title }}</h1>
        {{ section.content | safe }}
        <ul class="post_list">
          {% for page in section.pages %}
          <li class="post_item">
            <a class="post_link" href="/{{ page.path }}">{{ page.title }}</a>
            {%if page.taxonomies and page.taxonomies.tags |length > 0 %}
            <span class="tags">{%for tag in page.taxonomies.tags%}<a href="/tags/{{ tag }}">#{{ tag }}</a>
              {%endfor%}</span>
            {%endif%}
            <span class="date">{{ page.date }}</span>
          </li>
          {%endfor%}
        </ul>
      </div>
    </main>
    {% block footer %}{%include "footer.html" %}{% endblock footer %}
  </div>
</body>

</html>